# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AnkiBot.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\admin\RiderProjects\AnkiBot\.idea\.idea.AnkiBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
